<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Prabhjot Kaur Gill</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<h1 class="hidden">Home Page</h1>
	<div class="siteContainer">
		<header id="main-header">
			<nav id="mainNav">
				<h2 class="hidden">
					Main Navigation Bar
				</h2>
				<div id="nav">
					<ul id="Menu">
						<li><a href="index.html">Home Page</a></li>
						<li><a href="projects.html">Projects Page</a></li>
						<li><a href="contact.html">Contact Page</a></li>
					</ul>

				</div>

			</nav>
			<div id="logo">
				<img src="images/portfolio logo.svg" alt="logo" id="Logo">

			</div>

		</header>
		<div id="Main">
			<!-- <section class=""></section> -->
			<h1>Prabhjot Kaur Gill</h1>
			<p>Desiging and Developing Websites which are beautiful and Interactive to attaract the audience</p>
		</div>

		<div class="Interests">
			<h2>Interests</h2>
			<section class="Interest-icons">
				<img src="images/laptop.svg" alt="pc svg" class="icon">
				<h2> DESIGNING</h2>
				<
			</section>
			<section class="Interest-icons">
				<img src="images/cooking.svg" alt="pc svg" class="icon">
				<h2> COOKING</h2>
				
			</section>
			<section class="Interest-icons">
				<img src="images/shopping.svg" alt="pc svg" class="icon">
				<h2>SHOPING</h2>
				
			</section>
			<section class="Interest-icons">
				<img src="images/listening_music.svg" alt="pc svg" class="icon">
				<h2>LISTENING MUSIC</h2>
				
			</section>
		</div>
		<div id="Projects">
			<h2>WHAT I DID</h2>
			<h3>DESIGNER & DEVELEOPER</h3>
			
		</div>


</body>
</html>