<h1 class="hidden">Home Page</h1>
	<div class="siteContainer">
		<div id="Main">
			<!-- <section class=""></section> -->
			<!-- <h1>Prabhjot Kaur Gill</h1> -->
			<p>Desiging and Developing Websites which are beautiful and Interactive to attaract the audience</p>
			<img src="images/my-pic.svg" alt="my pic">
		</div>

		<section class="Interests">
			<h2> MY HOBBIES</h2>
			<div id="flex-1">

			<div class="Interest-icons">
				<img src="images/laptop.svg" alt="pc svg" class="icon">
				<h3> DESIGNING </h3>
				
			</div>
			<div class="Interest-icons">
				<img src="images/cooking.svg" alt="pc svg" class="icon">
				<h3> COOKING</h3>
				
			</div>
		</div>
		<div id="flex-2">
			<div class="Interest-icons">
				<img src="images/shopping.svg" alt="pc svg" class="icon">
				<h3>SHOPING</h3>
				
			</div>
			<div class="Interest-icons">
				<img src="images/listening_music.svg" alt="pc svg" class="icon">
				<h3>MUSIC</h3>
				
			</div>
		</div>
		</section>

		<div id="aboutInfo">
			<h2>Prabhjot Kaur Gill</h2>
			<h3>ABOUT ME</h3>
			<div id="flex-3">
				<p><span class="bigger">I</span>am 21 year old and interactive media designer and developer from London,Ontario.I am persuing IDP3 (interactive media design) from Fanshawe Downtown Campus.Aside from this I am keen interested in cooking , listening music and shoping I love to buy new stuff.I love to spend time with my family.</p>
				<img src="images/about_me.svg" alt="about me">
			</div>
		</div>
		<section id="Projects">
			<h2>WHAT I DID</h2>
			<h3>DESIGNER & DEVELEOPER</h3>
			<div id="flex-4">
				<div class="hackathon projects">
					<!-- <h2 class="hidden">In hackathon </h2> -->
					<p>I worked in team and we build up a website for a thermosystem.This was new technolgy which allow people to access their home from any where as this therosystem allows them to connect it with their phones.</p>
					<img src="images/boxes_mockup_provisional.png" alt="hackathon project">
				</div>
				<div class="Interactive-poster projects">
					<p>In this project I collect the data for recycling different materials every year and analize it and come up with a figures which are expressed through icons such as bar charts.</p>
					<img src="images/infographic poster.svg" alt="interactive poster">
				</div>
				<div class="organ-donation projects">
					<p>Organ donation was a campiagn for which I created a poster and presentation to aware the people about it and what they will receive if they will join it.</p>
					<img src="images/Organ_donation.svg" alt="hackathon project">
				</div>
				
			</div>
			<div id="flex-5">
				<div class="ikea-ad projects">
					<p>In hackathon I worked in team and we build up a website for a thermosystem.This was new technolgy which allow people to access their home from any where as this therosystem allows them to connect it with their phones.</p>
					<img src="images/ikea_ad.svg" alt="hackathon project">
				</div>
				<div class="got projects">
					<p>In hackathon I worked in team and we build up a website for a thermosystem.This was new technolgy which allow people to access their home from any where as this therosystem allows them to connect it with their phones.</p>
					<img src="images/got_video.svg" alt="Game of Thrones">

				</div>
				<div class="traa-association projects">
					<p>In hackathon I worked in team and we build up a website for a thermosystem.This was new technolgy which allow people to access their home from any where as this therosystem allows them to connect it with their phones.</p>
					<img src="images/trra.svg" alt="traa association">
				</div>
			</div>

		</section>
		<div class="self-video">
			<h2>Portfolio video</h2>

			            <video muted autoplay controls>
			            	<source src="video/promotional_video.mp4" type="video/mp4">
			            </video>
		</div>

		<section id="contact-Form" >
					<h2 class="Contact">Let's Chat</h2>

					<form action="/action_page.php" class="form">
							<label for="fname">First Name</label><br>
							<input type="text" id="fname" name="firstname" placeholder="Your name.."><br>

							<label for="lname">Last Name</label><br>
							<input type="text" id="lname" name="lastname" placeholder="Your last name.."><br>

							<label for="email">Email Address</label><br>
							<input type="text" id="email" name="Email Address" placeholder="Your Email Address.."><br>

							<label for="message">Message</label><br>
							<textarea name="message" id="message" placeholder="Write your message here....."></textarea><br>

							<input type="submit" value="Submit" id="submit">
						</form>
				<img src="images/contact_img.svg" alt="contact">
		</section>