<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
	<link rel="favicon icon" type="images/png" href="images/portfolio_icon.png">
  </head>
  <body>
		<header id="main-header">
			<nav id="mainNav">
				<h2 class="hidden">

					Main Navigation Bar
				</h2>
				<button id="button"></button>
				<div id="nav">
					<ul id="Menu">
						<li><a href="#aboutInfo"> About Me</a></li>
						<li><a href="#Projects">Projects Page</a></li>
						<li><a href="#contact-Form">Contact Page</a></li>
					</ul>

				</div>

			</nav>
			<div id="logo">
				<img src="images/portfolio_logo.svg" alt="logo" id="Logo">

			</div>

		</header>



    {{{body}}}

    <footer id="main-footer">
			<!-- <h2 class="hidden">
				<ul class="social-media">
					<li><a href="#"></a><img src="images/facebook.svg"></li>
					<li><a href="#"><img src="images/instagram.svg"></a></li>
					<li><a href="#"><img src="images/twitter.svg"></a></li>
					<li><a href="#"><img src="images/linkedin.svg"></a></li>
				</ul> -->
				<div class="social-media">
					<!-- <h2>Social Media</h2> -->
					<img src="images/twitter.svg" alt="twitter icon">
					<img src="images/facebook.svg" alt="facebook icon">
					<img src="images/instagram.svg" alt="instagram icon">
					<img src="images/linkedin.svg" alt="linkedin icon">

				</div>
				<div class="copyRight">
					<h2>All Rights Reserved © 2019</h2>
				</div>

        <script src="js/main.js"></script>

</html>
